 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <script data-ad-client="ca-pub-8640399148235153" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" />
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
    <title>Uangcepat Pinjaman Online Terpercaya</title>
    <!-- plugins:css -->
    <link  rel="stylesheet" type="text/css"href="https://gitcdn.link/cdn/justpiple/asset/master/vendors/mdi/css/materialdesignicons.min.css">
    <link  rel="stylesheet" type="text/css"href="https://gitcdn.link/cdn/justpiple/asset/master/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link  rel="stylesheet" type="text/css"href="https://gitcdn.link/cdn/justpiple/asset/master/vendors/jvectormap/jquery-jvectormap.css">
    <link  rel="stylesheet" type="text/css"href="https://gitcdn.link/cdn/justpiple/asset/master/vendors/flag-icon-css/css/flag-icon.min.css">
    <link  rel="stylesheet" type="text/css"href="https://gitcdn.link/cdn/justpiple/asset/master/vendors/owl-carousel-2/owl.carousel.min.css">
    <link  rel="stylesheet" type="text/css"href="https://gitcdn.link/cdn/justpiple/asset/master/vendors/owl-carousel-2/owl.theme.default.min.css">
    <link  rel="stylesheet" type="text/css"href="https://gitcdn.link/cdn/justpiple/asset/master/css/style.css">
    <link  rel="stylesheet" type="text/css"href="https://gitcdn.link/cdn/justpiple/asset/master/css/custom.css">
    <!-- End layout styles -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.js" integrity="sha512-OmBbzhZ6lgh87tQFDVBHtwfi6MS9raGmNvUNTjDIBb/cgv707v9OuBVpsN6tVVTLOehRFns+o14Nd0/If0lE/A==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.6.1/smooth-scrollbar.min.js" integrity="sha512-UmrYi6FvCoDgKRTzLOvAj/egIrJtoTIQV0u/stO1h5f4DQNcXnhwnY0rel5zduc3CNqO6LfVI8ZaGUKCrLIo7g==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
      integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
      crossorigin="anonymous"
    ></script>
 <!-- main meta tag -->   
<meta name="description" content="uangcepat pinjaman online terpercaya">
<meta name="keywords" content="uangcepat">
<meta name="robots" content="index, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="uangcepat">
  <!-- fbmeta tag -->
<meta property="og:image" content="https://l.top4top.io/p_1980gzpq40.png">
<meta property="og:title" content="Pinjaman Online Terpercaya">    
<meta name="og:description" content="uangcepat">
<meta property="og:url" content="https://uangcepat.herokuapp.com">
<meta property="og:type" content="website">
  <!-- twitter meta tag -->
<meta property="twitter:image" content="https://l.top4top.io/p_1980gzpq40.png">
<meta property="twitter:title" content="Uangcepat">    
<meta name="twitter:description" content="uangcepat pinjaman terpercaya">
<meta property="twitter:url" content="https://uangcepat.herokuapp.com">
  </head>
  <body>
      <div id="preloader">
        <div class="loader"></div>
    </div>
        <div class="container-scroller" id="scrollers">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <center class="sidebar-brand brand-logo" alt="logo" style="color: white;">Uangcepat</center>
          <span class="sidebar-brand brand-logo-mini" alt="logo" style="color: white;">Uangcepat</span>
        </div>
        <ul class="nav"> 
          <li class="nav-item nav-category">
            <span class="nav-link"></span>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Hubungi Kami</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" target="_blank"  href="https://wa.me/6285362725883" target="_blank">
              <span class="menu-icon">
                <i class="bi bi-whatsapp"></i>
              </span>
              <span class="menu-title">Whatsapp</span>
            </a>
          </li>
        </ul>
      </nav>
        <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <span class="navbar-brand brand-logo-mini" alt="logo" style="color: white;">Uangcepat</span>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button> 
            <ul class="navbar-nav w-100">
            </ul>
            <ul class="navbar-nav navbar-nav-right"> 
              <li class="nav-item dropdown">
                </a>
                <div class="dropdown-menu dropdown-search navbar-dropdown" aria-labelledby="messageDropdown">
                    <div class="dropdown-item preview-item">
                     <form  class="dropdown-search" action="https://zeks.xyz/search" method="GET">
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                                <button class="input-group-text" type="submit">
                                              <i class="bi bi-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                    </div>
                </div>
              </li>
              <li class="nav-item dropdown border-left">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="index.html#" data-toggle="dropdown">
                  <i class="mdi mdi-bell"></i>
                  
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  <a class="dropdown-item preview-item">
                 <h6 class="p-3 mb-0">Notifications</h6>
                   </a>
                   <div class="dropdown-divider"></div>
                   
                <a class="dropdown-item preview-item">
                    <div class="text-muted ellipsis mb-0">
                      Biaya Administrasi</p>
                    </div>
                  </a>
              
              </li>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
        <div class="row">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                        	<h6 class="m-0 font-weight-bold text-primary">Cara Pembayaran</h6></br><br>
                        </div><div>
                        	<div class="text-sm-left mb-0">TRANSFER ACCOUNT VIRTUAL BANK<br><br>VIA DANA</br><br>Nama</br>JEPRI BARUS</br><br>Nomor DANA: 085767354326<br><br>
            	<div class="text-sm-left mb-0">1.Silahkan Transfer Ke No Rekening Yang Sudah Di Tentukan</br><br>2.Setelah melakukan proses pengiriman dan mengisi form secara benar maka Pinjaman anda akan di proses dalam kurun waktu 10 menit.<br><br>3.Silahkan hubungi customer service kami via live chat untuk konfirmasi status Pembayaran Anda.
            <a class="nav-link" target="_blank"  href="https://wa.me/6285362725883" target="_blank">
              <span class="menu-icon">
                <i class="bi bi-whatsapp"></i>
              </span>
              <span class="menu-title">Whatsapp</span>
            </a>
   <br><br>
    </script>
         <script src="https://gitcdn.link/cdn/justpiple/asset/master/vendors/js/vendor.bundle.base.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/vendors/chart.js/Chart.min.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/js/off-canvas.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/js/hoverable-collapse.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/js/misc.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/js/settings.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/js/todolist.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/js/dashboard.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/js/main.js"></script>
  </body>
</html>