 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <script data-ad-client="ca-pub-8640399148235153" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" />
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
    <title>Uangcepat Pinjaman Online Terpercaya</title>
    <!-- plugins:css -->
    <link  rel="stylesheet" type="text/css"href="https://gitcdn.link/cdn/justpiple/asset/master/vendors/mdi/css/materialdesignicons.min.css">
    <link  rel="stylesheet" type="text/css"href="https://gitcdn.link/cdn/justpiple/asset/master/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link  rel="stylesheet" type="text/css"href="https://gitcdn.link/cdn/justpiple/asset/master/vendors/jvectormap/jquery-jvectormap.css">
    <link  rel="stylesheet" type="text/css"href="https://gitcdn.link/cdn/justpiple/asset/master/vendors/flag-icon-css/css/flag-icon.min.css">
    <link  rel="stylesheet" type="text/css"href="https://gitcdn.link/cdn/justpiple/asset/master/vendors/owl-carousel-2/owl.carousel.min.css">
    <link  rel="stylesheet" type="text/css"href="https://gitcdn.link/cdn/justpiple/asset/master/vendors/owl-carousel-2/owl.theme.default.min.css">
    <link  rel="stylesheet" type="text/css"href="https://gitcdn.link/cdn/justpiple/asset/master/css/style.css">
    <link  rel="stylesheet" type="text/css"href="https://gitcdn.link/cdn/justpiple/asset/master/css/custom.css">
    <!-- End layout styles -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.js" integrity="sha512-OmBbzhZ6lgh87tQFDVBHtwfi6MS9raGmNvUNTjDIBb/cgv707v9OuBVpsN6tVVTLOehRFns+o14Nd0/If0lE/A==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.6.1/smooth-scrollbar.min.js" integrity="sha512-UmrYi6FvCoDgKRTzLOvAj/egIrJtoTIQV0u/stO1h5f4DQNcXnhwnY0rel5zduc3CNqO6LfVI8ZaGUKCrLIo7g==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
      integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
      crossorigin="anonymous"
    ></script>
 <!-- main meta tag -->   
<meta name="description" content="uangcepat pinjaman online terpercaya">
<meta name="keywords" content="uangcepat">
<meta name="robots" content="index, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="uangcepat">
  <!-- fbmeta tag -->
<meta property="og:image" content="https://l.top4top.io/p_1980gzpq40.png">
<meta property="og:title" content="Pinjaman Online Terpercaya">    
<meta name="og:description" content="uangcepat">
<meta property="og:url" content="https://uangcepat.herokuapp.com">
<meta property="og:type" content="website">
  <!-- twitter meta tag -->
<meta property="twitter:image" content="https://l.top4top.io/p_1980gzpq40.png">
<meta property="twitter:title" content="Uangcepat">    
<meta name="twitter:description" content="uangcepat pinjaman terpercaya">
<meta property="twitter:url" content="https://uangcepat.herokuapp.com">
  </head>
  <body>
      <div id="preloader">
        <div class="loader"></div>
    </div>
        <div class="container-scroller" id="scrollers">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <center class="sidebar-brand brand-logo" alt="logo" style="color: white;">Uangcepat</center>
          <span class="sidebar-brand brand-logo-mini" alt="logo" style="color: white;">Uangcepat</span>
        </div>
        <ul class="nav"> 
          <li class="nav-item nav-category">
            <span class="nav-link">Uangcepat</span>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Hubungi Kami</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" target="_blank"  href="https://wa.me/6285362725883" target="_blank">
              <span class="menu-icon">
                <i class="bi bi-whatsapp"></i>
              </span>
              <span class="menu-title">Whatsapp</span>
            </a>
          </li>
        </ul>
      </nav>
        <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <span class="navbar-brand brand-logo-mini" alt="logo" style="color: white;">Uangcepat</span>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button> 
            <ul class="navbar-nav w-100">
            </ul>
            <ul class="navbar-nav navbar-nav-right"> 
              <li class="nav-item dropdown">
                </a>
                <div class="dropdown-menu dropdown-search navbar-dropdown" aria-labelledby="messageDropdown">
                    <div class="dropdown-item preview-item">
                     <form  class="dropdown-search" action="https://zeks.xyz/search" method="GET">
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                                <button class="input-group-text" type="submit">
                                              <i class="bi bi-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                    </div>
                </div>
              </li>
              <li class="nav-item dropdown border-left">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="index.html#" data-toggle="dropdown">
                  <i class="mdi mdi-bell"></i>
                  
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  <a class="dropdown-item preview-item">
                 <h6 class="p-3 mb-0">Notifications</h6>
                   </a>
                   <div class="dropdown-divider"></div>
                   
                <a class="dropdown-item preview-item">
                    <div class="text-muted ellipsis mb-0">
                      No Notifications</p>
                    </div>
                  </a>
              
              </li>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
        <div class="row">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 id="jam">11:7:45</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="bi bi-clock-fill icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Time</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                        	<h4 class="m-0 font-weight-bold text-primary">Pinjaman Hanya Dengan KTP</h4>
                        </div>
                        <img src="https://i.top4top.io/p_1979qeurc0.jpg"width="260"height="270">
                        </div>
                      </div>
                      <div class="col-3">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  </div>
</form>
</div>
</div>
<div class="card card-round mt-5">
<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
<h6 class="m-0 font-weight-bold text-primary">Pinjaman Awal</h6>
</div>
<div class="card-body">
<h6>
 <div class="text-sm-left mb-0">Rp2.000.000
   <br><br>
   	<font size="2"> &nbsp;&nbsp;&nbsp;&nbsp;<br>•Biaya Administrasi : Rp200.000<br>Bayar Di Awal<br><br>•Tenor Pinjaman : 12 Bulan<br><br>•Cicilan : Rp190.000/Bulan<br><br>•Jumlah Yang Di Terima : Rp2.000.000</font>
   <br><br>
<a href="https://paypal.me/LoLHuman" class="btn btn-primary btn-sm ml-2" target="_blank"></i>Ajukan Pinjaman</a>
<br><br><br><br>
<h6 class="m-0 font-weight-bold text-primary">Pinjaman Awal</h6>
<br><br>
<div class="text-sm-left mb-0">Rp4.000.000
   <br><br>
   	<font size="2"> &nbsp;&nbsp;&nbsp;&nbsp;<br>•Biaya Administrasi : Rp400.000<br>Bayar Di Awal<br><br>•Tenor Pinjaman : 12 Bulan<br><br>•Cicilan : Rp370.000/Bulan<br><br>•Jumlah Yang Di Terima : Rp4.000.000</font>
   <br><br>
   	<a href="https://paypal.me/LoLHuman" class="btn btn-primary btn-sm ml-2" target="_blank"></i>Ajukan Pinjaman</a>
     </div>
</form>
</div>
</div>
<div class="card card-round mt-5">
<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
<div class="text-md-left font-weight-bold mb-2 text-primary">Syarat Mengajukan Pinjaman</div>
</div>
	<font size="2"> &nbsp;&nbsp;&nbsp;&nbsp;<br>✓Usia 21 sampai 55 tahun<br><br>✓Warga Negara Indonesia<br><br>✓Memiliki KTP<br><br>✓Mempunyai pekerjaan atau penghasilan</font>
   <br><br>
   	<div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left font-weight-bold mb-2 text-primary">TESTIMONI NASABAH<div class="card-body"><img src="https://i.top4top.io/p_1979156vo0.jpg"width="100"height="100"><div _ngcontent-cyx-c12="" class="align-name"><span _ngcontent-cyx-c12="" class="testimony__description-section align-text__left"> Rahmawati, 41 tahun </span><p _ngcontent-cyx-c12="" class="align-text__left"><strong _ngcontent-cyx-c12="">Rp5.000.000</strong></p></div><hr _ngcontent-cyx-c12="" class="tnk-margin--x-small"><p _ngcontent-cyx-c12="" class="testimony__description-section tnk-margin-top--base align-text__center"> Pinjaman mudah, anak bisa sekolah dengan nyaman. </p></div>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-md-left font-weight-bold mb-2 text-primary"><div class="card-body"><img src="https://j.top4top.io/p_1979y3esq1.jpg"width="100"height="100"><div _ngcontent-cyx-c12="" class="align-name"><span _ngcontent-cyx-c12="" class="testimony__description-section align-text__left"> Faizal, 27 tahun </span><p _ngcontent-cyx-c12="" class="align-text__left"><strong _ngcontent-cyx-c12="">Rp2.000.000</strong></p></div><hr _ngcontent-cyx-c12="" class="tnk-margin--x-small"><p _ngcontent-cyx-c12="" class="testimony__description-section tnk-margin-top--base align-text__center"> Uangcepat memberikan kemudahan untuk memperoleh dana secara cepat, terutama saat dana darurat menipis dan asuransi sudah limit</p></div>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                       <div class="text-md-left font-weight-bold mb-2 text-primary"><div class="card-body"><img src="https://k.top4top.io/p_19797ta3t2.jpg"width="100"height="100"><div _ngcontent-cyx-c12="" class="align-name"><span _ngcontent-cyx-c12="" class="testimony__description-section align-text__left"> Indra, 29 tahun </span><p _ngcontent-cyx-c12="" class="align-text__left"><strong _ngcontent-cyx-c12="">Rp4.000.000</strong></p></div><hr _ngcontent-cyx-c12="" class="tnk-margin--x-small"><p _ngcontent-cyx-c12="" class="testimony__description-section tnk-margin-top--base align-text__center"> Pelayanannya sangatlah baik, keamanannya terjamin dan proses pencariannya juga sangatlah cepat,terimakasih uangcepat telah memberikan saya modal usaha.</p></div>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!-- main ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fh+4r+18-g5+q8"
     data-ad-client="ca-pub-8640399148235153"
     data-ad-slot="8576387960"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>   
</div>
</div>
                  </div>
<script>
function toast(){

}
window.setTimeout("waktu()", 1000);
    function waktu() {
        var waktu = new Date();
        setTimeout("waktu()", 1000);
        let strings = `${waktu.getHours()}:${waktu.getMinutes()}:${waktu.getSeconds()}`
        document.getElementById("jam").textContent = strings
    }
const textnya = document.querySelector('.status'); 
var apikey = document.getElementById("ampikey")
</script>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
                <div class="float-none float-sm-right d-block mt-1 mt-sm-0 text-right">
                    © Copyright 2021 <i class="bi bi-laptop"></i> Uangcepat
                </div>
            </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <script>
    function deletenotif(username){
    $.ajax({
                    url: '/deletenotif?'+username,
                    type: 'POST',
                    success: async function(data, textStatus, jqXHR) {
                   location = location.href
                }
    })
}
    </script>
         <script src="https://gitcdn.link/cdn/justpiple/asset/master/vendors/js/vendor.bundle.base.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/vendors/chart.js/Chart.min.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/js/off-canvas.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/js/hoverable-collapse.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/js/misc.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/js/settings.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/js/todolist.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/js/dashboard.js"></script>
    <script src="https://gitcdn.link/cdn/justpiple/asset/master/js/main.js"></script>
  </body>
</html>